extends layout

block content
  // Hero
  .container-fluid
    .hero
      img(src='img/Jobbunny.png', style='padding-top:1em;height:100%;width:100px')
      br
      h1  Employees that match your profile
      br
      .contentholder
        .row
          .col-sm-2
            .employeecard
              img(src='http://images6.fanpop.com/image/photos/38600000/Rainie-yang-rainie-yang-38695002-450-450.jpg')
              br
              h4  Rainie Yang 
              p
                | Diploma in Business Studies
              p
                | $8/hour
              p
                | 2-3 Exp
              p
                a.btn-sm.btn-warning(href='employeeprofile.html') View Profile
          .col-sm-2
            .employeecard
              img(src='https://s-media-cache-ak0.pinimg.com/originals/71/5a/3d/715a3d1c2b923546f9d82c53d2a113a4.jpg')
              p
              h4  Hebe Tian 
              p
                | Diploma in Nursing
              p
                | $8/hour
              p
                | 2-3 Exp
              p
                a.btn-sm.btn-warning(href='employeeprofile.html')
                  i.fa.fa-id-card-o(aria-hidden='true')
                  |  View Profile
          .col-sm-2
            .employeecard
              img(src='http://www.gratenews.com/wordpress/wp-content/uploads/2015/04/gem-tang-dropped-from-i-am-a-singer.jpg')
              br
              h4  GEM 
              p
                | Diploma in Business Studies
              p
                | $8/hour
              p
                | 2-3 Exp
              p
                a.btn-sm.btn-warning(href='employeeprofile.html') View Profile
          .col-sm-2
            .employeecard
              img(src='https://yt3.ggpht.com/-2KXvguf9c8E/AAAAAAAAAAI/AAAAAAAAAAA/GKYOlzIEpHc/s900-c-k-no-mo-rj-c0xffffff/photo.jpg')
              br
              h4  Jay Chou 
              p
                | Diploma in Business Studies
              p
                | $8/hour
              p
                | 2-3 Exp
              p
                a.btn-sm.btn-warning(href='employeeprofile.html') View Profile
          .col-sm-2
            .employeecard
              img(src='https://www.asiantvawards.com/wp-content/uploads/2016/09/JJ-Lin-Profile.jpg')
              br
              h4  Lin Jun Jie 
              p
                | Diploma in Business Studies
              p
                | $8/hour
              p
                | 2-3 Exp
              p
                a.btn-sm.btn-warning(href='employeeprofile.html') View Profile
          .col-sm-2
            .employeecard
              img(src='https://niconica.files.wordpress.com/2011/05/wang-lee-hom.jpg')
              br
              h4  Wang Lee Hom 
              p
                | Diploma in Business Studies
              p
                | $8/hour
              p
                | 2-3 Exp
              p
                a.btn-sm.btn-warning(href='employeeprofile.html') View Profile
