doctype html
html(lang='en')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    // Bootstrap
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/custom.css', rel='stylesheet')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='http://cdn.jsdelivr.net/momentjs/latest/moment.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://use.fontawesome.com/9301147e77.js')
    // Date picker
    script(type='text/javascript', src='http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
    link(rel='stylesheet', type='text/css', href='http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')
    // Time picker
    link(href='css/bootstrap-clockpicker.min.css', rel='stylesheet')
    script(type='text/javascript', src='js/bootstrap-clockpicker.min.js')
    // Radar Chart
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
  body
    // Navigation
    .header
      .row
        .col-sm-6
          a(href='/')
            h1 Jobbunny.co
        #nav.col-sm-6
          ul.nav.nav-pills
            li(role='presentation')
              a(href='/about') About
            li(role='presentation')
              a(href='/jobhop') Jobhop
            li(role='presentation')
              a(href='/contact') Contact
            li(role='presentation')
              a(href='/postjob') Post Job
      // content
      block content
    // footer
    .footer
      | copyright 2017 Jobbunny.co
