extends layout

block content
  // Post Job
  .postjob
    .container-fluid
      .row
        .col-sm-3
          img(src="img/Jobbunny.png", style="padding-top:5em;height:100%;width:200px")
        |     
        .col-sm-6
          p  
          h1 Post a Job
          |             
          br
          | Jobbunny will automatically show you up to 10 available employees that matches your criteria using our algorithm
          |             
          br
          br
          |         
          form.form-horizontal(action="/filter", method="post")
            .form-group
              label.control-label.col-sm-2 Job Type
              |                    
              .col-sm-10
                select.form-control(name='jobType')
                  option Part-timer
                  |                             
                  option Full-timer
                  |                             
                  option Freelancer
            |             
            .form-group
              label.control-label.col-sm-2 Industry:
              |                        
              |                     
              .col-sm-10
                select.form-control(name='jobScope')
                  option Sales
                  |                             
                  option Retail
                  |                             
                  option Events
                  |                             
                  option Food and Beverage
                  |                             
                  option Data Entry
                  |                             
                  option Logistic
                  |                             
                  option Design
                  |                             
                  option Programming
                  |                             
                  option Engineering
            |             
            .form-group
              label.control-label.col-sm-2 Job Description:
              |                        
              |                     
              .col-sm-10
                textarea.form-control(rows="5", placeholder="Please describe in detail the job scope you would like your employee to perform", name="description")
            |               
            .form-group
              label.control-label.col-sm-2 Working Period
              .col-sm-5 Start:
                .input-group.datepicker
                  input(type="date", name="dateStart")
              .col-sm-5 End:
                .input-group.datepicker
                  input(type="date", name="dateEnd")
            .form-group
              label.control-label.col-sm-2 Start Timing
              |                    
              .col-sm-4
                .input-group.clockpicker
                  input.form-control(type="text", value="09:30", name="startTime")
                  |                                
                  span.input-group-addon
                    span.glyphicon.glyphicon-time
                  |                                
                  script(type="text/javascript").
                    $('.clockpicker').clockpicker();
              label.control-label.col-sm-2 End Timing
              |                          
              .col-sm-4
                .input-group.clockpicker
                  input.form-control(type="text", value="09:30", name="endTime")
                  |                                 
                  span.input-group-addon
                    span.glyphicon.glyphicon-time
                  |                            
                  script(type="text/javascript").
                    $('.clockpicker').clockpicker();
            |                
            .form-group
              label.control-label.col-sm-2 Salary Type:
              |                        
              |                     
              .col-sm-10
                select.form-control(name="salaryType")
                  option Per Hour
                  |                             
                  option Per Month
                  |                             
                  option Per Project
            |              
            .form-group
              label.control-label.col-sm-2 Salary:
              |                        
              |                     
              .col-sm-10
                input.form-control(type="number", placeholder="How much are you willing to pay?", name="salary")
            |             
            |             
            .form-group
              label.control-label.col-sm-2 Company Name
              |                        
              |                     
              .col-sm-10
                input.form-control(type="text", name="companyName")
            |              
            .form-group
              label.control-label.col-sm-2 Company Website
              |                        
              |                     
              .col-sm-10
                input.form-control(type="url", name="companyWebsite")
            |             
            .form-group
              label.control-label.col-sm-2 Name
              |                        
              |                     
              .col-sm-10
                input.form-control(type="text", name="employerName")
            |             
            .form-group
              label.control-label.col-sm-2 Email
              |                        
              |                     
              .col-sm-10
                input.form-control(type="email", name="employerEmail")
            |             
            .form-group
              label.control-label.col-sm-2 Contact Number
              |                        
              |                     
              .col-sm-10
                input.form-control(type="text", , name="employerContact")
            input(type='submit')
            a.btn-lg.btn-warning.pull-right(href="employeesearch.html") Generate Employees
